[submodule "assets/reveal.js"]
	path = assets/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "assets/reveal.js-plugins"]
	path = assets/reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "notebooks/10-gpt/minGPT"]
	path = notebooks/10-gpt/minGPT
	url = git@github.com:karpathy/minGPT.git
